<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lab05Hibernate01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>devmaster.edu.vn.entity.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hibernate</display-name>
    <servlet-name>Hibernate</servlet-name>
    <servlet-class>devmaster.edu.vn.util.Hibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hibernate</servlet-name>
    <url-pattern>/Hibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDAO</display-name>
    <servlet-name>ProductDAO</servlet-name>
    <servlet-class>devmaster.edu.vn.dao.ProductDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDAO</servlet-name>
    <url-pattern>/ProductDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDAOlmpl</display-name>
    <servlet-name>ProductDAOlmpl</servlet-name>
    <servlet-class>devmaster.edu.vn.dao.ProductDAOlmpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDAOlmpl</servlet-name>
    <url-pattern>/ProductDAOlmpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HibernateUtil</display-name>
    <servlet-name>HibernateUtil</servlet-name>
    <servlet-class>devmaster.edu.vn.util.HibernateUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateUtil</servlet-name>
    <url-pattern>/HibernateUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDelete</display-name>
    <servlet-name>TestDelete</servlet-name>
    <servlet-class>devmaster.edu.vn.main.TestDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDelete</servlet-name>
    <url-pattern>/TestDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestInsert</display-name>
    <servlet-name>TestInsert</servlet-name>
    <servlet-class>devmaster.edu.vn.main.TestInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestInsert</servlet-name>
    <url-pattern>/TestInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSelect</display-name>
    <servlet-name>TestSelect</servlet-name>
    <servlet-class>devmaster.edu.vn.main.TestSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSelect</servlet-name>
    <url-pattern>/TestSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestUpdate</display-name>
    <servlet-name>TestUpdate</servlet-name>
    <servlet-class>devmaster.edu.vn.main.TestUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestUpdate</servlet-name>
    <url-pattern>/TestUpdate</url-pattern>
  </servlet-mapping>
</web-app>